<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="container">
        <% if (locals.error) { %>
        <p> <%= error %> </p>
        <% } %>
        <div class="bar">
            <form method="post" action="/search">
                <i class="fa-solid fa-location-dot fa-2x" style="color: #ffffff;"></i>
                <input type="text" placeholder="Enter location" name="inp">
                <button>
                    <i class="fa-solid fa-magnifying-glass fa-2x" style="color: #ffffff;"></i>
                </button>
            </form>
        </div>
        <% if (locals.notfound) { %>
            <div class="notfound">
                <img src="images/404.png" alt="">
                <p><%= notfound %> </p>
                <p>Sorry, we couldn't find the location!!</p>
            </div>
        <% } %>
        <% if (locals.temp) { %>
            <div class="result">
                <img src="images/<%= main %>.png" alt="">
                <div class="restemp">
                    <p id="restemperature"> <%= temp %> <span>°C</span></p>
                    <p> <%= des %> </p>
                </div>
                <div class="reshnw">
                    <div class="humidity">
                        <div class="hum1">
                            <i class="fa-solid fa-water fa-2x" style="color: #ffffff;"></i>
                        </div>
                        <div class="hum2">
                            <p class="humper"> <%= humidity %>% </p>
                            <p class="humtext">Humidity</p>
                        </div>
                    </div>
                    <div class="humidity windspeed">
                        <div class="hum1">
                            <i class="fa-solid fa-wind fa-2x" style="color: #ffffff;"></i>
                        </div>
                        <div class="hum2">
                            <p class="humper"> <%= wind %> KM/H </p>
                            <p class="humtext">Wind Speed</p>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
</body>
</html>